body{
    font-family: "DDG_ProximaNova","DDG_ProximaNova_UI_0","DDG_ProximaNova_UI_1","DDG_ProximaNova_UI_2","DDG_ProximaNova_UI_3","DDG_ProximaNova_UI_4","DDG_ProximaNova_UI_5","DDG_ProximaNova_UI_6","Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif;
    color: #222;
    line-height: 1.6;
    position: relative;
    height: auto;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
}
/* features-boxes */
#features-boxes h2{
    text-align: center;
    color: white;
}
section#features-boxes{
height: max-content;
}

.container{
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 1140px;
}
.box{
    height: 322px;
    width: 322px;
    text-align: justify;
    border: 1px solid;
    background-color:#fff;
  text-align: center;
    border-radius: 18px;
    padding: 24px;
    margin: 0 12px;
border-radius: 18px;
box-shadow: 0px 10px 16px -8px rgba(0,0,0,0.2)
}
.box img{
    width: 110px;
    height: 100px;
    margin: 30px;
    display: center;
}
#first-box, #snd-box, #third-box{
    text-align: center;
    padding: 25px 30px;
}
.searcharea{
  width: 100%;
  display: flex;
}
.search-bar {
display: flex;
max-width: 665px;
justify-self: center;
margin: auto;

}
.search-field[type=text] {
  border-radius: 4px;
  width:45em;
  height: 2.8em;
  background-color: #fff;
  border-radius: 0.5em;
  border: 1px solid rgba(0,0,0,0.15);
  padding-left: 1em;
  padding-top: 1px;
  margin-right: -40px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.06);

}
.search-field::placeholder {
font-size: 1.1em;
height: 2.545455em;
z-index: 1;
position: relative;
top: -1px;
}
.search-button[type=submit] {
  height: 42px;
  background-color: transparent;
  border: none;
position: absolute;
}
.search-button:hover {
  background-color: #66ad57;
  color: white;
}
r
header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbarsection{
  display: flex;
  width: 100%;
  align-items: flex-end;
  
}
.main-header a{
  display: flex;
  align-items: center;
  width: 200px;
  height: 162px;
}
.navbar_container a {
  text-decoration: none;
  margin: 4px;
}
ul {
  list-style: none;
  padding-inline-start: 0px;
}

.navbar_container {
  position: absolute;
  right: 0;
  top: 5px;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  }
.navlink {
  display: flex;
  flex-direction: row;
  margin: 15px;
  height: 20px;
  font-size: 14px;
}


.dropdown-social,
.dropdown-settings {
  position: relative;
  display: inline-block;
  margin-right: 8px;
}

.dropdown-content-social {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 130px;
  height: 155px;
  box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
  left: 0px;
  padding: 0px 0px;
  padding-inline-start: 0px;
  z-index: 250;
  margin-top: 8px;
  vertical-align: baseline;
}
.dropdown-content-settings {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 180px;
  height: 932px;
  box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
  left: 0px;
  padding: 0px 0px;
  padding-inline-start: 0px;
  z-index: 250;
  margin-top: 8px;
  vertical-align: baseline;
}
.dropdown-content-settings h2, li{
  margin-left: 12px;
}



.dropdown-social,
.dropdown-settings {
  position: relative;
  display: inline-block;
  margin-right: 8px;
}

.dropdown-content-social {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 130px;
  height: 155px;
  box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
  left: 0px;
  padding: 0px 0px;
  padding-inline-start: 0px;
  z-index: 250;
  margin-top: 8px;
  vertical-align: baseline;
}
.dropdown-content-settings {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 180px;
  height: 932px;
  box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
  left: 0px;
  padding: 0px 0px;
  padding-inline-start: 0px;
  z-index: 250;
  margin-top: 8px;
  vertical-align: baseline;
}
.dropdown-content-settings h2, li{
  margin-left: 12px;
}


.dropdown-social:hover .dropdown-content-social {
  display: block;
}
.dropdown-settings:hover .dropdown-content-settings {
  display: block;
}
.dropdown-settings h2{
    font-size: 0.75em;
    color: #888;
}
.navbar_container a{
    text-decoration: none;
    color: #666
}

/*SECTION Please dont delete------------------------*/
section {
    height: 100vh;
}

.info-container {
    display: flex;
    justify-content: center;
    height: 50%;
}

.info-text, .closing-text {
  color: white;
  width: 700px;
  height: 260px;
  text-align: center;
  margin: auto;
}

.info-text h2, .closing-text h2 {
    font-size: 44px;
    line-height: 48px;
    padding: 0;
    margin-bottom: 15px;
    margin-top: 16px;
}
.info-text p, .closing-text p {
    font-size: 20px;
    line-height: 28px;
    padding: 0.25em 0em;
}

.info-text button, .closing-text button {
    padding: 10px;
    background-color: black;
    opacity: 0.5;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.info-images img {
    height: 100%;
}

.info-text button:hover, .closing-text button:hover {
  cursor: pointer;
}

/*Information 1*/
#info-1 {
    background-color: #58b792;
}

/*Information 2*/
#info-2 {
    background-color: #f5a339;
}

/*Information 3*/
#info-3 {
    background-color: #5f63bd;
}

#info-3 .info-images img {
    height: 100%;
    margin-right: 150px;
}

/*Information CLOSING = FOOTER*/
footer {
    height: 100vh;
}

#closing {
    background-color: #87cef5;
}

.closing-container {
    display: flex;
    justify-content: center;
    height: 46%;
    width: 100%;
    margin-top: 0;
}

.closing-images img {
    height: 100%;
    margin-right: 175px;
}

.closing-nav-bar {
    width: 100%;
}

.separator {
    padding:0 15px;
    cursor: default;
  }

.dismiss-search {
    float: right;
    font-size: 0.8em;
    padding: 15px;
    color: #666;
    cursor: pointer;
    width: 20%;
  }

.dismiss-search ul li {
    display: inline;
    list-style: none;
}

.dismiss-search a {
    text-decoration: none;
    font-weight: bolder;
}

/*HEADER Please dont delete------------------------*/

.searcharea{
width: 100%;
display: flex;
}
.search-bar {
display: flex;
max-width: 665px;
justify-self: center;
margin: auto;

}
.search-field[type=text] {
border-radius: 4px;
width:45em;
height: 2.8em;
background-color: #fff;
border-radius: 0.5em;
border: 1px solid rgba(0,0,0,0.15);
padding-left: 1em;
padding-top: 1px;
margin-right: -40px;
box-shadow: 0 2px 3px rgba(0,0,0,0.06);

}
.search-field::placeholder {
font-size: 1.1em;
height: 2.545455em;
z-index: 1;
position: relative;
top: -1px;
}
.search-button[type=submit] {
height: 42px;
background-color: transparent;
border: none;
position: absolute;
}
.search-button:hover {
background-color: #66ad57;
color: white;
}
r
header{
display: flex;
flex-direction: column;
align-items: center;
}
.navbarsection{
display: flex;
width: 100%;
align-items: flex-end;

}
.main-header a{
display: flex;
align-items: center;
width: 200px;
height: 162px;
}
.navbar_container a {
text-decoration: none;
margin: 4px;
}
ul {
list-style: none;
padding-inline-start: 0px;
}

.navbar_container {
position: absolute;
right: 0;
top: 5px;
width: 30%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: flex-end;
}
.navlink {
display: flex;
flex-direction: row;
margin: 15px;
height: 20px;
font-size: 14px;
}


.dropdown-social,
.dropdown-settings {
position: relative;
display: inline-block;
margin-right: 8px;
}

.dropdown-content-social {
display: none;
position: absolute;
background-color: #f9f9f9;
width: 130px;
height: 155px;
box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
left: 0px;
padding: 0px 0px;
padding-inline-start: 0px;
z-index: 250;
margin-top: 8px;
vertical-align: baseline;
}
.dropdown-content-settings {
display: none;
position: absolute;
background-color: #f9f9f9;
width: 180px;
height: 932px;
box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
left: 0px;
padding: 0px 0px;
padding-inline-start: 0px;
z-index: 250;
margin-top: 8px;
vertical-align: baseline;
}
.dropdown-content-settings h2, li{
margin-left: 12px;
}



.dropdown-social,
.dropdown-settings {
position: relative;
display: inline-block;
margin-right: 8px;
}

.dropdown-content-social {
display: none;
position: absolute;
background-color: #f9f9f9;
width: 130px;
height: 155px;
box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
left: 0px;
padding: 0px 0px;
padding-inline-start: 0px;
z-index: 250;
margin-top: 8px;
vertical-align: baseline;
}
.dropdown-content-settings {
display: none;
position: absolute;
background-color: #f9f9f9;
width: 180px;
height: 932px;
box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
left: 0px;
padding: 0px 0px;
padding-inline-start: 0px;
z-index: 250;
margin-top: 8px;
vertical-align: baseline;
}
.dropdown-content-settings h2, li{
margin-left: 12px;
}


.dropdown-social:hover .dropdown-content-social {
display: block;
}
.dropdown-settings:hover .dropdown-content-settings {
display: block;
}
.dropdown-settings h2{
  font-size: 0.75em;
  color: #888;
}
.navbar_container a{
  text-decoration: none;
  color: #666
}

/*MAIN TEXT Please dont delete--------------------*/
/* specialities part */
#content-info{
  text-align: center;
  background-color: #fff;
  padding: 20px 0px 20px;
}
.get-seamless{
  padding-bottom: 0px;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
 
}
.space{
  margin-left: 25px;
}
.link-bnt button{
  color: #EEEEEE;
  padding: 10px 15px;
  border-radius: 10px;
  background-color:#678FFF;
  margin-bottom: 10px;
  border: none;
  font-size: 15px
}


/*SECTION Please dont delete----------*/
section {
  height: 100vh;
}

.info-container {
  display: flex;
  justify-content: center;
  height: 50%;
}

.info-text, .closing-text {
color: white;
width: 700px;
height: 260px;
text-align: center;
margin: auto;
}

.info-text h2, .closing-text h2 {
  font-size: 44px;
  line-height: 48px;
  padding: 0;
  margin-bottom: 15px;
  margin-top: 16px;
}
.info-text p, .closing-text p {
  font-size: 20px;
  line-height: 28px;
  padding: 0.25em 0em;
}

.info-text button, .closing-text button {
  padding: 10px;
  background-color: black;
  opacity: 0.5;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
}

.info-images img {
  height: 100%;
}

.info-text button:hover, .closing-text button:hover {
cursor: pointer;
}

/*Information 1*/
#info-1 {
  background-color: #58b792;
}

/*Information 2*/
#info-2 {
  background-color: #f5a339;
}

/*Information 3*/
#info-3 {
  background-color: #5f63bd;
}

#info-3 .info-images img {
  height: 100%;
  margin-right: 150px;
}

/*Information CLOSING = FOOTER*/
footer {
  height: 100vh;
}

#closing {
  background-color: #87cef5;
}

.closing-container {
  display: flex;
  justify-content: center;
  height: 46%;
  width: 100%;
  margin-top: 0;
}

.closing-images img {
  height: 100%;
  margin-right: 175px;
}

.closing-nav-bar {
  width: 100%;
}

.separator {
  padding:0 15px;
  cursor: default;
}

.dismiss-search {
  float: right;
  font-size: 0.8em;
  padding: 15px;
  color: #666;
  cursor: pointer;
  width: 20%;
}

.dismiss-search ul li {
  display: inline;
  list-style: none;
}

.dismiss-search a {
  text-decoration: none;
  font-weight: bolder;

}