body{
    font-family: "DDG_ProximaNova","DDG_ProximaNova_UI_0","DDG_ProximaNova_UI_1","DDG_ProximaNova_UI_2","DDG_ProximaNova_UI_3","DDG_ProximaNova_UI_4","DDG_ProximaNova_UI_5","DDG_ProximaNova_UI_6","Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif;
    color: #222;
    /*line-height: 1.6;*/
    overflow: hidden;
    position: relative;
    height: auto;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
}
/* specialities part */
#content-info{
    text-align: center;
}
.get-seamless{
    padding-bottom: 0px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
   
}
.space{
    margin-left: 25px;
}
.add-duck-duck{
    color: #EEEEEE;
    padding: 10px 15px;
    border-radius: 10px;
    background-color:#678FFF;
    margin-bottom: 10px;
    border: none;
    font-size: 15px
}


